

.hidden {
    display: none;
}

#mainContent {
        display: grid;
        grid-template-columns: repeat(4, 85px);
        grid-column-gap: 16px;
        padding-left: 20px;
        padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}
